@{
  Layout = "_Layout";
}

@model TreatFlavors.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.Label("Treat Name:") @Html.DisplayFor(model => model.TreatName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Treat contains no Flavors.</p>
}
else
{
  <h4>Flavors: </h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{@join.Flavor.FlavorName}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</li>
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add A Flavor", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back To Treat List", "Index")</p>
<p>@Html.ActionLink("Edit Treats", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treats", "Delete", new { id = Model.TreatId })</p>