@{
  Layout = "_Layout";
}

@model TreatFlavor.Models.Treat

<h2>Edit</h2>

<h3>Edit the information for this Treat: @Html.DisplayFor(model => model.TreatName)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Treat Name:")
  @Html.TextBoxFor(model => model.TreatName)

  @Html.Label("Treat Description:")
  @Html.TextBoxFor(model => model.TreatDescription)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back", "Index")</p>